@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
* {
	margin: 0;
	padding: 0;
	font-family: "Pixelify Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
}
h1 {
	font-size: 52px;
	text-decoration: underline;
}
body {
	background-color: rgb(175, 172, 13);
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btn-style {
	background-color: red;
	width: 150px;
	height: 50px;
}

.section {
	border-radius: 10px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50rem;
	height: 50rem;

	margin: 10px;
	background-color: rgb(236, 236, 236);
}

button {
	width: 4rem;
	height: 2rem;
}

.body-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	.character {
		font-size: 190px;
	}
}

.health,
.sleep,
.food {
	margin: 2px;
	display: flex;
	align-items: center;
	color: red;
	font-weight: 600;
	font-size: 28px;
	i {
		font-size: 42px;
	}
}

.bars {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
}

.name {
	position: absolute;
	right: 0;
	top: 0;
	margin: 15px;
	font-size: 24px;
}

.money {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
	color: green;
	font-weight: 600;
	font-size: 24px;
}

.restart {
	position: absolute;
	bottom: 10%;
	display: none;
	width: 200px;
}

.bike {
	display: inline-block;
	font-size: 50px;
	position: absolute;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	animation: moveAndFlip 5s linear infinite;
}

.inventory-list {
	padding: 5px;
	display: none;
	position: absolute;
	right: 0;
	margin: 20px;
	border-radius: 5px;

	border: 1px solid red;

	flex-direction: column;
	h2 {
		text-align: center;
		text-decoration: underline;
	}
	div {
		margin: 10px;
		display: flex;
		justify-content: space-around;
		li {
			margin: 2px;
			display: block;
			padding-right: 10px;
		}
		button {
			height: 25px;
		}
	}
}

.actions {
	display: flex;
	flex-wrap: wrap;
}

.store {
	display: none;
	border: 1px solid black;
	padding: 25px;
	position: absolute;
	left: 3%;
	top: 20%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		div {
			margin: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			p {
				text-decoration: underline;
				margin: 2px;
			}
		}
	}
}

.click {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: radial-gradient(
		circle,
		#ff0000 25%,
		#ffffff 25%,
		#ffffff 50%,
		#ff0000 50%,
		#ff0000 75%,
		#ffffff 75%
	);

	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes moveAndFlip {
	0% {
		right: 0;
		transform: scaleX(1);
	}
	25% {
		right: 550px;
		transform: scaleX(1);
	}
	26% {
		right: 550px;
		transform: scaleX(-1);
	}
	50% {
		right: 0;
		transform: scaleX(-1);
	}
	51% {
		right: 0;
		transform: scaleX(1);
	}
	100% {
		right: 0;
		transform: scaleX(1);
	}
}
