* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 500;
}

body {
	background-color: grey;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50rem;
	height: 50rem;

	margin: 10px;
	background-color: rgb(175, 175, 175);
}

button {
	width: 4rem;
	height: 2rem;
}

.body-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	.character {
		font-size: 190px;
	}
}

.health,
.sleep,
.food {
	margin: 2px;
	display: flex;
	align-items: center;
	color: red;
	font-weight: 600;
	font-size: 24px;
	i {
		font-size: 42px;
	}
}

.bars {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
}

.name {
	position: absolute;
	top: 80%;
	right: 41%;
	margin: 15px;
	font-size: 24px;
}

.money {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
	color: green;
	font-weight: 600;
	font-size: 24px;
}

.restart {
	position: absolute;
	bottom: 10%;
	display: none;
}

.bike {
	display: inline-block;
	font-size: 50px;
	position: absolute;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	animation: moveAndFlip 5s linear infinite;
}

@keyframes moveAndFlip {
	0% {
		right: 0;
		transform: scaleX(1);
	}
	25% {
		right: 550px;
		transform: scaleX(1);
	}
	26% {
		right: 550px;
		transform: scaleX(-1);
	}
	50% {
		right: 0;
		transform: scaleX(-1);
	}
	51% {
		right: 0;
		transform: scaleX(1);
	}
	100% {
		right: 0;
		transform: scaleX(1);
	}
}
